
  <div class="welcome-body" data-ng-app="breakEven">
    <header class="header">
      <ul class="nav">
        <li class="navbutton">week view</li>
        <li class="navbutton">today's goals</li>
        <li class="navbutton">rewards</li>
        <li class="navbutton">retreat!</li>
      </ul>
      <h1 class="lead">Break Even</h1>
    </header>

    <main data-ui-view></main>
    <div class="go-new">
    		<h2><a data-ui-sref="exercises">Create Your Workout!</a></h2>
    	</div>
    	<div class="go-now">
    		<h2><a data-ui-sref="#">See Your Workout!</a></h2>
    	</div>
  </div>
