<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="div_top">
    <h1>Getting Started</h1>
  </div>
  <div class="new_user_prompt">Select Exerices</div>
  <div class="form">
    <%= form_for @day do |f| %>
    <p class="name">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit "Day", :class => "form-button"%>
    </p>

    <% end %>
  </div>
</body>
</html>
