<%= stylesheet_link_tag "days", property: "stylesheet" %>
<%= stylesheet_link_tag "exercises", property: "stylesheet" %>
<%= javascript_include_tag "days" %>
<%= javascript_include_tag "exercises" %>
<div class="containter" data-ng-app="breakEven">
  <header>
    <h1>Break Even</h1>
  </header>
</div>
