// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home{
  background: url("belly.jpg") no-repeat center center fixed;
  background-size: cover;
}

.lead {
  font-size: 600%;
  text-align:center;
}
.lead {
  letter-spacing:.05%;
  color: rgb(163, 22, 0);
  text-shadow:.5em .5em 0 rgba(0, 0, 0, 0.5);
}

.go-new, .go-now {
  background-color: rgba(30, 33, 39, 0.5);
  color:#FFFFFF;
  width:47%;
  text-align: center;
  padding:4%;
  transition: background-color .7s, color 1s;
}
.go-now:hover, .go-new:hover{
  background-color: rgba(255, 255, 255, .5);
  color: rgb(163, 22, 0);
}

.go-new{
  float: left;
}
.go-now {
  float:right;
}

.slider {
  position: absolute;
  padding-left: 2%;
  left: -20%;
  width: 16em;
  height: 1em;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}
@-webkit-keyframes slide {
  100% { left: 0; }
}
@keyframes slide {
  100% { left: 0; }
}
