// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  box-sizing:border-box;
  font-family: 'Montserrat Subrayada', sans-serif;
}
.home{
  background: url("belly.jpg") no-repeat center center fixed;
  background-size: cover;
}
