<h1>I'm an exercise index page</h1>

<!-- <!DOCTYPE html>
<html>
<head>
  <title>Break Even</title>
</head>
<body class="container" data-ng-app="breakEven">
  <header class="jumbotron">
    <h1>Break Even</h1>
  </header>

  <main data-ng-controller="break_even_controller as vm">
    <h2>Total Value: ${{vm.total_value()}}</h2>
    <input type="text" class="form-control" placeholder="Filter on..." data-ng-model="vm.filter_on" />
    <table class="table table-striped">
      <thead>
        <tr>
          < <td>a-z</td> -->
          <!-- <td data-ng-click="vm.is_descending = !(vm.is_descending)">
          <span data-ng-if="vm.is_descending">z-a</span>
          <span data-ng-if="!vm.is_descending">a-z</span>
        </td> -->
        <th data-ng-click="vm.sort_on = 'name'">Name</th>
        <th data-ng-click="vm.sort_on = 'quantity'">Quantity</th>
        <th data-ng-click="vm.sort_on = 'calorie'">Calories</th>
        <!-- <th>Country of Origin</th>
        <th>Notes</th> -->
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="exercise in vm.data | filter: vm.filter_on | orderBy: vm.sort_on : vm.is_descending">
        <!-- change table info^ -->
        <td>{{$index  1}}</td>
        <!-- change table info^ -->
        <td>
          <img data-ng-src="{{exercise.image_url}}" alt="#" />
          <!-- change table info^ -->
          <a data-ng-href="{{exercise.url}}" tabindex="-1">{{exercise.name}}</a>
          <!-- change table info^ -->
        </td>
        <td>{{exercise.cost.toFixed(2)}}</td>
        <!-- change table info^ -->
        <td>
          <input type="number" data-ng-model="exercise.quantity" />
        </td>
        <td>{{exercise.name}}</td>
        <!-- change table info^ -->
        <td>
          <input type="text" data-ng-model="exercise.notes" />
          <!-- change table info^ -->
        </td>
      </tr>
    </tbody>
  </table>
</main>
</body>
</html> -->
